.down-arrow{
    animation: moveARROW 1s alternate-reverse infinite;
}


@keyframes Leather-shoe-reveal {
    from{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    to{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}


@keyframes textREVEAL {
    from{
        transform: translateY(-100px);
    }    
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}


@keyframes moveARROW {
    from{
        transform: translateY(-5px);
    }
    to{
        transform: translateY(5px);
    }
}