@media (max-width:900px) {

    .leather-shoe img{
        width: 100%;
        filter: brightness(40%);
    }
    body{
        padding: 30px 30px 30px 30px;
    }
    .text-top{
        width: 100%;
        margin-top: 150px;
        color: white;
        animation: textREVEAL 1s ease-in-out forwards;
        opacity: 0;
    }
    .down-arrow{
        filter: invert(100%);
    }
    .logo{
        color: white;
    }
    .more-shoes{
        flex-direction: column;
    }
    .text-between{
        margin-right: 0px;
        text-align: center;
    }
    .leather-shoe-2-box{
        margin-left: 0px;
    }
    nav{
        z-index: 100;
        background-color: rgb(255, 255, 255);
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        width: 40%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
    }
    nav ul{
        list-style: none;
        padding: 0;
        margin-top: 8em;
    }
    nav li{
        padding: .75em 2em;
        color: black;

    }
    nav li:hover{
        background-color: rgb(199, 199, 199);
        cursor: pointer;
    }
    .close{
        float: right;
        margin: 2em;
        width: 2.5em;
    }
    .open-nav{
        transform: translateX(0%);
    }
}

@media (min-width:901px) {
    .hamburger{
        display: none;
    }
    nav{
        z-index: 100;
        position: unset;
        display: block;
        right: 0;
        top: 0;
        height: auto;
        width: auto;
        transform: translateX(0%);
        transition: transform 0.5s ease-in-out;
    }
    nav ul{
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    nav li{
        padding: .5em 1.5em;
        color: rgb(255, 255, 255);

    }
    nav li:hover{
        font-weight: 700;
        cursor: pointer;
    }
    .close{
        display: none;
    }
}